---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 106e8c54-3422-427f-b8fb-8403420b2bca
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O-COtELGvHcEfqw=
      X-Amzn-Remapped-Server:
      - MMXX
      Link:
      - ''
      X-Amzn-Remapped-Date:
      - Sat, 25 Nov 2023 19:26:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"orderGuid":"be45908d-0715-4256-af42-3c3a5bcb2d15","fileNumber":576462,"orderStatus":"app-pending","orderType":"Tenant","orderedDate":1700847898000,"applicantName":"RENTER,
        STATES","clientName":"Auto Client - App Auto Setup App - Sandbox API account
        for Rentw","clientCode":"8e89dcde-cdcb-4926-81bd-a70f381307d3","productName":"WayHome
        - Credit and Background Package","requestedBy":"Auto Setup Instance - Auto
        Setup Sandbox API account for Rentway ","searchFlagged":false,"quickappApplicantLink":"https://lightning.instascreen.net/orderquickapp/index.taz?x=cvrps4hebk6b35s2vtk0ifd09ekqqtm0o3hhjUrj7nfCWppUUj89DqTjGTTGocXaa0AF9TvfTJKdfj8Yz&y=576462&z=1","createdDate":1700847898000,"createdBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","modifiedDate":1700847899000,"modifiedBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway "},{"orderGuid":"75e3b769-5e66-4aed-9786-b855996dfaf0","fileNumber":576461,"orderStatus":"app-pending","orderType":"Tenant","orderedDate":1700847269000,"applicantName":"RENTER,
        STATES","clientName":"Auto Client - App Auto Setup App - Sandbox API account
        for Rentw","clientCode":"8e89dcde-cdcb-4926-81bd-a70f381307d3","productName":"WayHome
        - Credit and Background Package","requestedBy":"Auto Setup Ins[...]
