---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/orders/f0ec9cf8-a4ad-4e50-9d1f-8871e3db5a26/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7ae35889-b96a-4e99-b9a8-5b69566099ba
      X-Amzn-Remapped-Content-Length:
      - '388'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O-KpuEigPHcERZw=
      X-Amzn-Remapped-Server:
      - MMXX
      X-Amzn-Remapped-Date:
      - Sat, 25 Nov 2023 20:23:51 GMT
    body:
      encoding: UTF-8
      string: '{"orderDetail":{"externalIdentifier":"10001a","fileNumber":572352,"status":"complete","reportUrl":"https://lightning.instascreen.net/send/interchangeview/?a=<screened>&b=365&c=rptview&file=<screened>","reportUrlLoginRequired":"https://lightning.instascreen.net/editor/viewReport.taz?file=<screened>"},"coApplicantDetails":[]}'
  recorded_at: Sat, 25 Nov 2023 20:23:51 GMT
recorded_with: VCR 6.2.0
