---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/orders/f0ec9cf8-a4ad-4e50-9d1f-8871e3db5a26/resultsAsPdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - '0807f6dc-7b5e-4e49-a78d-ee8566298117'
      X-Amzn-Remapped-Content-Length:
      - '225'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O-LgeF4_PHcEI1g=
      X-Amzn-Remapped-Server:
      - MMXX
      X-Amzn-Remapped-Date:
      - Sat, 25 Nov 2023 20:29:42 GMT
    body:
      encoding: UTF-8
      string: '{"resultsUrl":"https://lightning.instascreen.net/send/interchangeview/?a=<filtered>&b=365&c=rptview&file=<filtered>&format=pdf","externalIdentifier":"10001a"}'
  recorded_at: Sat, 25 Nov 2023 20:29:42 GMT
recorded_with: VCR 6.2.0
