---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/applicants?size=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - fc251730-ec6d-4d23-a16c-2026b56a72cc
      X-Amzn-Remapped-Content-Length:
      - '1227'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O7PZ8FEmvHcESdA=
      X-Amzn-Remapped-Server:
      - MMXX
      Link:
      - <api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/applicants?page=1&size=3>;
        rel="next", <api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/applicants?page=8&size=3>;
        rel="last"
      X-Amzn-Remapped-Date:
      - Fri, 24 Nov 2023 23:05:35 GMT
    body:
      encoding: UTF-8
      string: '[{"applicantGuid":"a86d2b81-7065-4c4e-bc16-cb5ce0fbd49f","firstName":"Louise","middleName":"M","lastName":"May","gender":"FEMALE","dateOfBirth":"1992-10-22","email":"api-sandbox@tazworks.com","phoneNumber":"(555)
        565-4343","textingEnabled":false,"createdDate":1698812182000,"createdBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","modifiedDate":1698812182000,"modifiedBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","version":1},{"applicantGuid":"2dda8741-b551-4c10-b96e-cf6c215ebd82","firstName":"States","lastName":"Renter","email":"test@test.com","textingEnabled":false,"createdDate":1700847269000,"createdBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","modifiedDate":1700847269000,"modifiedBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","version":1},{"applicantGuid":"45f50497-94a5-4a09-8fe2-ca9f50269f15","firstName":"States","lastName":"Renter","email":"test@test.com","textingEnabled":false,"createdDate":1700847898000,"createdBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","modifiedDate":1700847898000,"modifiedBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","version":1}]'
  recorded_at: Fri, 24 Nov 2023 23:05:35 GMT
recorded_with: VCR 6.2.0
