---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients/34f3264e-138a-47d1-987c-f2673a569b96/applicants/b19ef9aa-e920-4d42-837d-6e0f457ed99e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b185e15d-067d-44cd-b1b3-f5faf5848a5c
      X-Amzn-Remapped-Content-Length:
      - '498'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O94exEjUPHcEbPA=
      X-Amzn-Remapped-Server:
      - MMXX
      X-Amzn-Remapped-Date:
      - Sat, 25 Nov 2023 18:19:48 GMT
    body:
      encoding: UTF-8
      string: '{"applicantGuid":"b19ef9aa-e920-4d42-837d-6e0f457ed99e","textingEnabled":false,"firstName":"Bob","noMiddleName":false,"lastName":"Smith","email":"bob.smith@gmail.com","createdDate":1700894761000,"createdBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","modifiedDate":1700894761000,"modifiedBy":"Auto
        Setup Instance - Auto Setup Sandbox API account for Rentway ","version":1,"addresses":[],"employment":[],"education":[],"aliases":[],"professionalLicenses":[],"references":[]}'
  recorded_at: Sat, 25 Nov 2023 18:19:48 GMT
recorded_with: VCR 6.2.0
