---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.instascreen.net/v1/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1acd8272-ef39-4b8f-a26d-cfe9ed68858e
      X-Amzn-Remapped-Content-Length:
      - '362'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - O7LHRFaFPHcEK7w=
      X-Amzn-Remapped-Server:
      - MMXX
      Link:
      - ''
      X-Amzn-Remapped-Date:
      - Fri, 24 Nov 2023 22:36:17 GMT
    body:
      encoding: UTF-8
      string: '[{"clientGuid":"34f3264e-138a-47d1-987c-f2673a569b96","name":"Auto
        Client - App Auto Setup App - Sandbox API account for Rentw","code":"8e89dcde-cdcb-4926-81bd-a70f381307d3","status":"ACTIVE","contactName":"Bob","contactEmail":"success@simulator.amazonses.com","createdBy":"Support
        TazWorks 126","modifiedDate":1698165708000,"modifiedBy":"Support TazWorks
        126"}]'
  recorded_at: Fri, 24 Nov 2023 22:36:17 GMT
recorded_with: VCR 6.2.0
